In [1]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
import os
import glob

C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\648473009.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [28]:

def combine_csv_files(base_directory, folder_name, file_patterns):
    """
    Combines CSV files from a specified folder within the base directory into a single DataFrame.

    Parameters:
    - base_directory (str): The base directory where the subfolder is located.
    - folder_name (str): The name of the subfolder containing CSV files.
    - file_patterns (list of str): List of file name patterns to match.

    Returns:
    - pd.DataFrame: A DataFrame containing the combined data from all CSV files that match the specified patterns.
    """
    # Construct the full directory path
    directory_path = os.path.join(base_directory, folder_name)

    # Use glob to get a list of file paths that match the patterns
    files = []
    for pattern in file_patterns:
        files.extend(glob.glob(os.path.join(directory_path, pattern)))

    # Initialize an empty DataFrame to store the combined data
    combined_df = pd.DataFrame()

    # Loop through the list of file paths
    for file in files:
        # Read each CSV file into a DataFrame
        df = pd.read_csv(file)

        # Append the data from the current file to the combined DataFrame
        combined_df = pd.concat([combined_df, df], ignore_index=True)

    return combined_df

In [29]:
# Example usage with multiple patterns
import os

base_directory = os.path.abspath(os.path.join(os.getcwd(), '..'))
data_folder = os.path.join(base_directory, 'data')
validation_folder = os.path.join(data_folder, 'validation')
test_folder = os.path.join(data_folder, 'test')
training_folder = os.path.join(data_folder, 'training')

# base_directory = 'data'
# folder_to_combine = '\validation'
file_patterns = ['CMP-validation-*.csv', 'CMP-training-*.csv', 'CMP-test-*.csv']
validation = combine_csv_files(data_folder, validation_folder, file_patterns)
test = combine_csv_files(data_folder, test_folder, file_patterns)
training = combine_csv_files(data_folder, training_folder, file_patterns)

C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([combined_df, df], ignore_index=True)
C:\Users\Sadie\AppData\Local\Temp\ipykernel_21708\2889006002.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

In [30]:
validation.head()

,MACHINE_ID,MACHINE_DATA,TIMESTAMP,WAFER_ID,STAGE,CHAMBER,USAGE_OF_BACKING_FILM,USAGE_OF_DRESSER,USAGE_OF_POLISHING_TABLE,USAGE_OF_DRESSER_TABLE,...,USAGE_OF_PRESSURIZED_SHEET,SLURRY_FLOW_LINE_A,SLURRY_FLOW_LINE_B,SLURRY_FLOW_LINE_C,WAFER_ROTATION,STAGE_ROTATION,HEAD_ROTATION,DRESSING_WATER_STATUS,EDGE_AIR_BAG_PRESSURE,AVG_REMOVAL_RATE
0,2,4,4.816382e+08,-2697400572,B,4.0,9333.333333,535.185185,320.0,2667.0,...,2800.0,2.222222,0.909091,0.0,0.0,0.0,160.0,1.0,0.0,NaN
1,2,4,4.816382e+08,-2697400572,B,4.0,9333.333333,535.185185,320.0,2667.0,...,2800.0,2.222222,0.909091,0.0,0.0,0.0,160.0,1.0,0.0,NaN
2,2,4,4.816382e+08,-2697400572,B,4.0,9333.333333,535.185185,320.0,2667.0,...,2800.0,3.888889,0.909091,72.8,0.0,0.0,160.0,1.0,0.0,NaN
3,2,4,4.816382e+08,-2697400572,B,4.0,9333.333333,535.185185,320.0,2667.0,...,2800.0,14.027778,0.909091,235.2,0.0,0.0,160.0,1.0,0.0,NaN
4,2,4,4.816382e+08,-2697400572,B,4.0,9333.333333,535.185185,320.0,2667.0,...,2800.0,17.083333,0.909091,305.2,0.0,0.0,156.8,1.0,0.0,NaN

In [31]:
validation.shape

(144572, 26)

In [32]:
training.shape

(674725, 26)

In [33]:
test.shape

(156686, 26)

In [34]:
training.dtypes

MACHINE_ID                       object
MACHINE_DATA                     object
TIMESTAMP                       float64
WAFER_ID                         object
STAGE                            object
CHAMBER                         float64
USAGE_OF_BACKING_FILM           float64
USAGE_OF_DRESSER                float64
USAGE_OF_POLISHING_TABLE        float64
USAGE_OF_DRESSER_TABLE          float64
PRESSURIZED_CHAMBER_PRESSURE    float64
MAIN_OUTER_AIR_BAG_PRESSURE     float64
CENTER_AIR_BAG_PRESSURE         float64
RETAINER_RING_PRESSURE          float64
RIPPLE_AIR_BAG_PRESSURE         float64
USAGE_OF_MEMBRANE               float64
USAGE_OF_PRESSURIZED_SHEET      float64
SLURRY_FLOW_LINE_A              float64
SLURRY_FLOW_LINE_B              float64
SLURRY_FLOW_LINE_C              float64
WAFER_ROTATION                  float64
STAGE_ROTATION                  float64
HEAD_ROTATION                   float64
DRESSING_WATER_STATUS           float64
EDGE_AIR_BAG_PRESSURE           float64
AVG_REMOVAL_RATE                float64
dtype: object

In [35]:
training.describe()

,TIMESTAMP,CHAMBER,USAGE_OF_BACKING_FILM,USAGE_OF_DRESSER,USAGE_OF_POLISHING_TABLE,USAGE_OF_DRESSER_TABLE,PRESSURIZED_CHAMBER_PRESSURE,MAIN_OUTER_AIR_BAG_PRESSURE,CENTER_AIR_BAG_PRESSURE,RETAINER_RING_PRESSURE,...,USAGE_OF_PRESSURIZED_SHEET,SLURRY_FLOW_LINE_A,SLURRY_FLOW_LINE_B,SLURRY_FLOW_LINE_C,WAFER_ROTATION,STAGE_ROTATION,HEAD_ROTATION,DRESSING_WATER_STATUS,EDGE_AIR_BAG_PRESSURE,AVG_REMOVAL_RATE
count,6.727440e+05,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,...,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,1981.000000
mean,4.844186e+08,4.223673,4968.532485,396.444964,171.983843,3496.348712,49.973427,155.327976,40.147023,1218.777316,...,1490.559854,4.245952,0.725417,249.354458,12.802433,52.437560,159.792734,0.424763,28.531700,98.631645
std,1.639134e+06,1.333534,2888.628864,219.524524,94.623563,479.742809,39.241073,133.191797,34.240954,1499.216737,...,866.588654,6.683546,0.420575,214.034647,16.325427,91.878220,8.889108,0.494307,24.346485,187.429160
min,4.816344e+08,1.000000,19.166667,5.185185,0.000000,2664.750000,0.000000,0.000000,0.000000,0.000000,...,5.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.426550
25%,4.827736e+08,4.000000,2425.000000,205.185185,88.888889,3041.000000,0.000000,0.000000,0.000000,0.000000,...,727.500000,2.222222,0.909091,0.000000,0.000000,0.000000,156.800000,0.000000,0.000000,72.376500
50%,4.846534e+08,4.000000,5036.666667,395.925926,172.592593,3544.750000,72.857143,252.000000,61.250000,1446.900000,...,1511.000000,2.222222,0.909091,411.600000,0.000000,0.000000,160.000000,0.000000,43.939394,79.154850
75%,4.857991e+08,5.000000,7322.500000,590.370370,254.074074,3912.000000,77.142857,268.800000,66.250000,1454.700000,...,2196.750000,2.222222,0.909091,439.600000,34.651163,65.526316,160.000000,1.000000,48.484848,88.702050
max,4.872682e+08,6.000000,10532.500000,771.851852,357.037037,4305.500000,189.047619,499.200000,139.375000,10662.600000,...,3159.750000,42.638889,12.500000,1083.600000,34.883721,263.552632,192.000000,1.000000,141.515152,4326.154050

In [36]:
unique_wafers = training["WAFER_ID"].unique()

In [37]:
wafer = unique_wafers[0]
wafer_data = training[training["WAFER_ID"]==wafer]
wafer_data.shape

(287, 26)

In [38]:
wafer_data.head()

,MACHINE_ID,MACHINE_DATA,TIMESTAMP,WAFER_ID,STAGE,CHAMBER,USAGE_OF_BACKING_FILM,USAGE_OF_DRESSER,USAGE_OF_POLISHING_TABLE,USAGE_OF_DRESSER_TABLE,...,USAGE_OF_PRESSURIZED_SHEET,SLURRY_FLOW_LINE_A,SLURRY_FLOW_LINE_B,SLURRY_FLOW_LINE_C,WAFER_ROTATION,STAGE_ROTATION,HEAD_ROTATION,DRESSING_WATER_STATUS,EDGE_AIR_BAG_PRESSURE,AVG_REMOVAL_RATE
0,2,1,4.816371e+08,371447024,A,1.0,9302.5,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,565.6,34.651163,0.0,156.8,1.0,60.909091,NaN
1,2,1,4.816371e+08,371447024,A,1.0,9302.5,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,568.4,34.651163,0.0,156.8,1.0,60.909091,NaN
2,2,1,4.816371e+08,371447024,A,1.0,9302.5,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,568.4,34.651163,0.0,156.8,1.0,60.909091,NaN
3,2,1,4.816371e+08,371447024,A,1.0,9302.5,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,568.4,34.651163,0.0,156.8,1.0,60.606061,NaN
4,2,1,4.816371e+08,371447024,A,1.0,9302.5,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,571.2,34.651163,0.0,156.8,1.0,60.909091,NaN

In [39]:
wafer_extracted_data = pd.DataFrame()
wafer_extracted_data['WAFER_ID'] = wafer

print(wafer_extracted_data.head())

Empty DataFrame
Columns: [WAFER_ID]
Index: []

In [40]:
training.isnull().sum()

MACHINE_ID                        1981
MACHINE_DATA                      1981
TIMESTAMP                         1981
WAFER_ID                             0
STAGE                                0
CHAMBER                           1981
USAGE_OF_BACKING_FILM             1981
USAGE_OF_DRESSER                  1981
USAGE_OF_POLISHING_TABLE          1981
USAGE_OF_DRESSER_TABLE            1981
PRESSURIZED_CHAMBER_PRESSURE      1981
MAIN_OUTER_AIR_BAG_PRESSURE       1981
CENTER_AIR_BAG_PRESSURE           1981
RETAINER_RING_PRESSURE            1981
RIPPLE_AIR_BAG_PRESSURE           1981
USAGE_OF_MEMBRANE                 1981
USAGE_OF_PRESSURIZED_SHEET        1981
SLURRY_FLOW_LINE_A                1981
SLURRY_FLOW_LINE_B                1981
SLURRY_FLOW_LINE_C                1981
WAFER_ROTATION                    1981
STAGE_ROTATION                    1981
HEAD_ROTATION                     1981
DRESSING_WATER_STATUS             1981
EDGE_AIR_BAG_PRESSURE             1981
AVG_REMOVAL_RATE                672744
dtype: int64

In [41]:
# training.dropna(inplace=True)

In [43]:
training.describe()

,TIMESTAMP,CHAMBER,USAGE_OF_BACKING_FILM,USAGE_OF_DRESSER,USAGE_OF_POLISHING_TABLE,USAGE_OF_DRESSER_TABLE,PRESSURIZED_CHAMBER_PRESSURE,MAIN_OUTER_AIR_BAG_PRESSURE,CENTER_AIR_BAG_PRESSURE,RETAINER_RING_PRESSURE,...,USAGE_OF_PRESSURIZED_SHEET,SLURRY_FLOW_LINE_A,SLURRY_FLOW_LINE_B,SLURRY_FLOW_LINE_C,WAFER_ROTATION,STAGE_ROTATION,HEAD_ROTATION,DRESSING_WATER_STATUS,EDGE_AIR_BAG_PRESSURE,AVG_REMOVAL_RATE
count,6.727440e+05,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,...,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,672744.000000,1981.000000
mean,4.844186e+08,4.223673,4968.532485,396.444964,171.983843,3496.348712,49.973427,155.327976,40.147023,1218.777316,...,1490.559854,4.245952,0.725417,249.354458,12.802433,52.437560,159.792734,0.424763,28.531700,98.631645
std,1.639134e+06,1.333534,2888.628864,219.524524,94.623563,479.742809,39.241073,133.191797,34.240954,1499.216737,...,866.588654,6.683546,0.420575,214.034647,16.325427,91.878220,8.889108,0.494307,24.346485,187.429160
min,4.816344e+08,1.000000,19.166667,5.185185,0.000000,2664.750000,0.000000,0.000000,0.000000,0.000000,...,5.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.426550
25%,4.827736e+08,4.000000,2425.000000,205.185185,88.888889,3041.000000,0.000000,0.000000,0.000000,0.000000,...,727.500000,2.222222,0.909091,0.000000,0.000000,0.000000,156.800000,0.000000,0.000000,72.376500
50%,4.846534e+08,4.000000,5036.666667,395.925926,172.592593,3544.750000,72.857143,252.000000,61.250000,1446.900000,...,1511.000000,2.222222,0.909091,411.600000,0.000000,0.000000,160.000000,0.000000,43.939394,79.154850
75%,4.857991e+08,5.000000,7322.500000,590.370370,254.074074,3912.000000,77.142857,268.800000,66.250000,1454.700000,...,2196.750000,2.222222,0.909091,439.600000,34.651163,65.526316,160.000000,1.000000,48.484848,88.702050
max,4.872682e+08,6.000000,10532.500000,771.851852,357.037037,4305.500000,189.047619,499.200000,139.375000,10662.600000,...,3159.750000,42.638889,12.500000,1083.600000,34.883721,263.552632,192.000000,1.000000,141.515152,4326.154050

In [44]:
# sourcery skip: dict-assign-update-to-union
wafer_rows = []
non_extracted_columns = ["TIMESTAMP", "WAFER_ID", "CHAMBER"]

def new_func(feature_df):
    return feature_df

for wafer in unique_wafers:
    wafer_data = training[training["WAFER_ID"]==wafer]
# Iterate through each numerical column and calculate the features using numpy
    features_np = {}
    for column in wafer_data.select_dtypes(include='number').columns:
        if column in non_extracted_columns:
            continue
        col_data = wafer_data[column].values  # Convert the column to a numpy array
        features_np.update({
            f'{column}_Mean': np.mean(col_data),
            f'{column}_Median': np.median(col_data),
            f'{column}_StdDev': np.std(col_data, ddof=1),  # ddof=1 for sample standard deviation
            f'{column}_Variance': np.var(col_data, ddof=1),  # ddof=1 for sample variance
            f'{column}_Minimum': np.min(col_data),
            f'{column}_Maximum': np.max(col_data),
            f'{column}_Range': np.ptp(col_data),  # Peak-to-peak is a simpler way to compute range
            f'{column}_Skewness': pd.Series(col_data).skew(),  # Using pandas for skew as numpy does not have a direct function
            f'{column}_Kurtosis': pd.Series(col_data).kurt(),  # Using pandas for kurtosis as numpy does not have a direct function
            f'{column}_25thPercentile': np.percentile(col_data, 25),
            f'{column}_50thPercentile': np.percentile(col_data, 50),
            f'{column}_75thPercentile': np.percentile(col_data, 75)
        })
    # Convert the features dictionary to a DataFrame
    # Since we want all features in one row, we use pd.DataFrame and specify the index [0]
    feature_df = pd.DataFrame([features_np])
    feature_df.insert(0, "WAFER_ID", wafer)
    
    feature_df.insert(1, "STAGE", np.unique(wafer_data["STAGE"])[0])
    feature_df.insert(2, "CHAMBER", np.unique(wafer_data["CHAMBER"])[0])

    wafer_rows.append(new_func(feature_df))

# Concatenate all DataFrames in the list
final_df = pd.concat(wafer_rows, ignore_index=True)

In [45]:
final_df.head()

,WAFER_ID,STAGE,CHAMBER,USAGE_OF_BACKING_FILM_Mean,USAGE_OF_BACKING_FILM_Median,USAGE_OF_BACKING_FILM_StdDev,USAGE_OF_BACKING_FILM_Variance,USAGE_OF_BACKING_FILM_Minimum,USAGE_OF_BACKING_FILM_Maximum,USAGE_OF_BACKING_FILM_Range,...,AVG_REMOVAL_RATE_StdDev,AVG_REMOVAL_RATE_Variance,AVG_REMOVAL_RATE_Minimum,AVG_REMOVAL_RATE_Maximum,AVG_REMOVAL_RATE_Range,AVG_REMOVAL_RATE_Skewness,AVG_REMOVAL_RATE_Kurtosis,AVG_REMOVAL_RATE_25thPercentile,AVG_REMOVAL_RATE_50thPercentile,AVG_REMOVAL_RATE_75thPercentile
0,371447024,A,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,371447028,A,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,371447036,A,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-4113511818,A,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-4113511780,A,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
training[training["WAFER_ID"] == 371447024]

,MACHINE_ID,MACHINE_DATA,TIMESTAMP,WAFER_ID,STAGE,CHAMBER,USAGE_OF_BACKING_FILM,USAGE_OF_DRESSER,USAGE_OF_POLISHING_TABLE,USAGE_OF_DRESSER_TABLE,...,USAGE_OF_PRESSURIZED_SHEET,SLURRY_FLOW_LINE_A,SLURRY_FLOW_LINE_B,SLURRY_FLOW_LINE_C,WAFER_ROTATION,STAGE_ROTATION,HEAD_ROTATION,DRESSING_WATER_STATUS,EDGE_AIR_BAG_PRESSURE,AVG_REMOVAL_RATE
0,2,1,4.816371e+08,371447024,A,1.0,9302.500000,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,565.6,34.651163,0.0,156.8,1.0,60.909091,NaN
1,2,1,4.816371e+08,371447024,A,1.0,9302.500000,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,568.4,34.651163,0.0,156.8,1.0,60.909091,NaN
2,2,1,4.816371e+08,371447024,A,1.0,9302.500000,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,568.4,34.651163,0.0,156.8,1.0,60.909091,NaN
3,2,1,4.816371e+08,371447024,A,1.0,9302.500000,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,568.4,34.651163,0.0,156.8,1.0,60.606061,NaN
4,2,1,4.816371e+08,371447024,A,1.0,9302.500000,534.074074,292.592593,2666.25,...,2790.75,2.222222,0.909091,571.2,34.651163,0.0,156.8,1.0,60.909091,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,2,3,4.816374e+08,371447024,A,3.0,9313.333333,534.074074,302.222222,2666.50,...,2794.00,24.027778,0.909091,0.0,0.000000,0.0,156.8,1.0,49.696970,NaN
283,2,3,4.816374e+08,371447024,A,3.0,9313.333333,534.074074,302.222222,2666.50,...,2794.00,17.638889,0.909091,0.0,0.000000,0.0,156.8,1.0,49.393939,NaN
284,2,3,4.816374e+08,371447024,A,3.0,9313.333333,534.074074,302.222222,2666.50,...,2794.00,14.583333,0.909091,0.0,0.000000,0.0,156.8,1.0,0.000000,NaN
285,2,3,4.816374e+08,371447024,A,3.0,9313.333333,534.074074,302.222222,2666.50,...,2794.00,11.527778,0.909091,0.0,0.000000,0.0,156.8,1.0,0.000000,NaN
672752,NaN,NaN,NaN,371447024,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.1309

#### Feature Selection

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif

# Example for df1
selector = SelectKBest(f_classif, k=10)  # Select top 10 features
training_selected_features = selector.fit_transform(training, training_output)

##### Create Prediction Models

In [ ]:
from sklearn.svm import SVC  # Kernel method
from sklearn.ensemble import RandomForestClassifier  # Ensemble method
from sklearn.neural_network import MLPClassifier  # Multi-layer perceptron
from keras.models import Sequential  # Convolutional Neural Network (CNN requires a different structure)

# Create models (example with default parameters)
model_svc = SVC()
model_rf = RandomForestClassifier()
model_mlp = MLPClassifier()
# For CNN, you would need to define the architecture using Sequential(), add Conv2D layers, etc.

Validate Models

from sklearn.model_selection import cross_val_score

# Example validation using cross-validation
scores_svc = cross_val_score(model_svc, df1_selected_features, df1_output, cv=5)
scores_rf = cross_val_score(model_rf, df1_selected_features, df1_output, cv=5)
scores_mlp = cross_val_score(model_mlp, df1_selected_features, df1_output, cv=5)